ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="input", ATTRS{bInterfaceClass}=="03", RUN+="/usr/sbin/insmod /lib/modules/6.1.52-lweglarz/kernel/keyboard_load.ko"
